section {
    height: 500px;
    background-color: rosybrown;

}
.hero {
    background-color: rosybrown;
    height: 100vh;
    color: papayawhip;
    font-size: 18px;
}
footer {
height: 500px;
background-color: blanchedalmond;
}
nav {
    display: flex;
    justify-content: space-around;
}
ul {
    display: flex;
    list-style-type: none;
}
li {
    width: 200px;
}
h1 {
    font-size: 50px;
    margin: 10;
}
.hero-text {
    margin-left: 40px;
    margin-bottom: 50px;
}
.button {
   width: 110px;
   height: 25px;
   border-radius: 20px; 
   color: papayawhip;
   background-color: palevioletred;
   text-align: center;
}
.button:hover {
    background-color: lightcoral;
}
p {
    font-size: 30px;
    margin: 0;
}
.hero-area {
    display: flex;
    height: 100%;
    justify-content: space-between;
} 
.socials {
    padding-bottom: 200px;
}
